$trans : 0.4s ease;
$shadow:rgba(0, 0, 0, 0.1) 0px 4px 12px;
$green :#007777;
$white : #fff;
$gren-dakr:#218c74;
$dark-bleu:#192a56;
$open-green:#4cd137;


@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;1,700&family=Cairo:wght@600&family=IM+Fell+Great+Primer&family=Karla:wght@700&family=Lato:ital,wght@1,700&display=swap');

body{
    font-family: 'Merriweather Sans', sans-serif;
    min-height: 100vh;
}

*{
    margin: 0;
}
nav{
    padding: 0 30px;
    box-shadow: $shadow;
    background: rgb(0,203,157);
    background: linear-gradient(77deg, rgba(0,203,157,1) 0%, rgba(76,209,55,1) 81%, rgba(60,241,31,1) 100%);

    a{
        img{
            width: 6%;
        }
    }
}

input , button{
    outline: none;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 20px;
    img{
        width: 530px;
        height: auto;
    }
    h1{
        font-weight: 800;
        font-size: 2.7rem;
        margin:20px 0;
    }
    h3{
        color: red;
        display: none;
    }
    p{
        color: #495057;
        padding-right: 20px;
        margin-right: 20px;
        font-size: 1.3rem;
        margin: 25px 0;

    }
    input{
        padding: 10px 60px !important;
        font-size: 1.5rem;
        width: 138% !important;
        background: linear-gradient(77deg, rgba(7,236,181,1) 0%, rgba(99,215,99,1) 100%);
        border: $open-green 1px $gren-dakr;
        box-shadow: $shadow;
        transition: $trans;
        outline: none;
        margin-bottom: 10px;
        &::placeholder{
            color: #eeee;
            font-size: 1.3rem;
        }
        &:focus{
            background-color: #eeee !important;
        }
    }
    button{
        all: none;
        width: 80%;
        padding: 10px 20px;
        background: rgb(0,203,157);
        background: linear-gradient(77deg, rgba(0,203,157,1) 0%, rgba(76,209,55,1) 81%, rgba(60,241,31,1) 100%);
    

        color: $white;
        font-size: 1.5rem;
        cursor: pointer;
        margin: 8px 0;
        border: 2px solid $dark-bleu;
        box-shadow: $shadow;
        &:hover{
            background: rgb(0,201,121);
            background: linear-gradient(278deg, rgba(0,201,121,1) 0%, rgba(0,110,53,1) 100%);
        }
    }
}

footer{
    margin: 0;
    margin-top: 30px;
    padding: 25px;
    text-align: center;

    background: rgb(0,201,121);
    background: linear-gradient(278deg, rgba(0,201,121,1) 0%, rgba(0,110,53,1) 100%);

    p{
        color: $white;
        font-size: 1.2rem;
        font-family: 'Times New Roman', Times, serif;
    }
}

@media (max-width: 767px) {

    nav a img{
        width:15%;
    }
    nav{
        text-align: center;
    }
    .main {
        display: block;
        margin-bottom: 40px;
        img{
            display: none;
        }
        h1{
            font-size: 2.4rem;
        }
        button{
            width: 96.4%;
            margin-bottom: 0px;
        }
    input{
        width: 96% !important;
    }
    }
    #desc{
        display: none;
    }
}

// loadeing
.loader{
    position:fixed;
    width:100%;
    height:100%;
    background:#F1F2F3;
    margin: 0 auto;
    top:0;
    left:0;
    padding:14% 45%;
    z-index:22;
    // img{
    //     width: 800px;
    // }
}
@media (max-width: 767px) {
    .loader{
        padding: 31% 32%
    }
}

@media (max-width: 600px) {
    .loader{
        padding: 41% 30%;
    }
}
@media (max-width: 400px) {
    .main{
        // min-height: 7  3vh;
        padding: 10px 0;
        // margin: 0;
        input::placeholder{
            font-size: 1rem;
        }
        
    }
    .loader{
        padding: 73% 26%;
    }
    footer{
        margin-top: 0px;
    }
}

.main .iti--allow-dropdown .iti__selected-flag{
    border-right: 1px solid #000;
    padding: 0 6px 0 15px;
}